@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');


html {
	box-sizing: border-box;
    font-size: 100%;
	line-height: 1.4;
     font-family: "Montserrat", sans-serif;
}


main {
    display: flex;             
    flex-direction: column;     
    justify-content: center;    
    align-items: center;        
    margin: 0 auto;
    
    
}

main section {
	/* Width */
	width: 50%;
	/* Center*/
	margin: 0 auto;
	/* Set the flex container for the main */
	display: flex;
	/* Flex-direction to column  */
	flex-direction: column;



    
}


main img{
    width: 20%;
    margin: 1rem auto;
    
}



main article{
    /*Border and background*/
border-right: 5px solid;
border-left: 5px solid;
border-image: linear-gradient(
  135deg,
  #ff0080,
  #ff8c00,
  #ffe600,
  #00eaff,
  #8a2be2
) 1;
position: relative;
z-index: -1;
background-color:#080808;
 
    color: #fff;

    padding-bottom:2rem;
    text-align: center;
    	/* Set the flex container for the main */
	display: flex;
	/* Flex-direction to column  */
	flex-direction: column;

    margin: 0;
}




h2{
font-size: 2.25rem;
font-family: "Orbitron", sans-serif;
margin: 5rem 0 1rem 0;
position: relative;
z-index: 0;
filter:drop-shadow(0 0 12px #00eaff);
animation: textUp both;
animation-timeline:view();
animation-range: entry 20% cover 100vh;


}


header div img{
    width: 50%;
    position: absolute;
    top: 25%;
    right: 0;
    transform: translateY(-50%);
    animation: neonPulse 2.5s ease-in-out infinite alternate;
}

iframe{
    width: 100%;
    height: 20rem;
}

@keyframes videoUp {
    from{
        /*Video starts*/
        filter: saturate(0) contrast(4) brightness(.1) blur(1px);
        opacity: 0;
        scale: .95;
        translate: 0 1rem;
    }
    /*As the user scroll*/
    to{
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
        
    }
    
}

header > div:nth-of-type(2) {
    /* Suas alterações aqui */
    width: 35%;
    height: auto;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 70%;
    right: 0;
    transform: translateY(-50%);
    text-align: left;
    right:5%;
        /*Scroll based animations we use both value for better control and smother experience*/
    animation: videoUp both;
    animation-timeline: view(90vh 10%);
    /*view(when the animation finishes, when the animations starts)*/

}

/* text appear animation: https://www.youtube.com/watch?v=16PncZlSNds&t=115s*/
@keyframes textUp {
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

header > div:nth-of-type(2) p{
    color: #fff;
    padding-right: 1rem;
    position: relative;
    text-align: left;

    
}

/* Shadow pulse animation: https://www.youtube.com/shorts/pcZzirFeFyg?feature=share*/
@keyframes neonPulse {
    0% {
        filter:
            
            drop-shadow(0 0 12px #00eaff);
    }
    100% {
        filter:
            
            drop-shadow(0 0 28px #00eaff);
    }
}

p{
    padding: 0;
    line-break: auto;
    hyphens: auto;
    text-align: center;
    margin: 1rem 0 0 0;
    font-size: 1.2rem;
    width: 90% 10%;


}

footer{
    background-color: #fff;
    
}


section p em:nth-of-type(odd){
        font-family: "Orbitron", sans-serif;
    
    filter:drop-shadow(0 0 12px #5377EE);
    font-weight: 700;
    animation: textUp both;
animation-timeline:view();
animation-range: entry 10% cover 50vh;
}
section p em{
    font-family: "Orbitron", sans-serif;
    
    filter: drop-shadow(0 0 12px #F52875);
    font-weight: 700;
    animation: textUp both;
animation-timeline:view();
animation-range: entry 10% cover 50vh;
    
}


section p em::selection{
    color: #00eaff;
}

header{
    background-image: url("../images/avicii.jpg");
    height: 200vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative ;
    background-color: rgba(0,0,0,0.98);
    flex-wrap: wrap;
    display: flex;

}   



/*NAVIGATION MENU*/
ul{
   display: flex;          /* Align items horizontally */
   align-items: center;    /* Center items vertically */
   width: 100%;
   z-index: 99;
}

ul li {
   list-style: none;       /* Remove bullet points */
   display: inline-block;
   margin-left: 2%;
   z-index: 99;
}

/* Menu links */
 ul li a {
   text-decoration: none;
   color: #fff;
   z-index: 99;
}

/* Menu bar container */
nav{
   width: 100%;
   position: fixed;        /* Keeps menu visible when scrolling */
   display: flex;
   background-color: #000;
   z-index: 99;             /* Stay on top of other elements */
   height: 10vh;
   padding: 0;
   opacity: 1;
   
}

/* Logo position and styling */
nav aside{
   width: 18%;
   z-index: 99;
}

 nav aside img{
   margin-left: 15%;
   width: 20%;       
}

nav div{
   text-align: right;
   width: 75%;
   z-index: 99;
}


main div{
    background-color:#080808;
    margin: 0;
    
}

article div:last-child{
    padding-bottom: 2rem;
}





