@charset "utf-8";

/* FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');


/* GLOBAL*/
html {
	box-sizing: border-box;
	font-size: 100%;
	line-height: 1.4;
	font-family: "Montserrat", sans-serif;
}


/* HEADER (Hero section)*/
header {
	background-image: url("../images/avicii.jpg");
	min-height: 200vh;
	width: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgba(0,0,0,0.98);

	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

/* Floating image */
header div img {
	width: 50%;
	position: absolute;
	top: 25%;
	right: 0;
	transform: translateY(-50%);
	animation: neonPulse 2.5s ease-in-out infinite alternate;
}

/* Text block under video */
header > div:nth-of-type(2) {
	width: 35%;
	max-width: 90%;
	color: #fff;
	font-size: 18px;

	position: relative;
	margin: 100vh 5rem 0 auto;
	text-align: left;
	padding-right: 1rem;

	animation: videoUp both;
	animation-timeline: view(10vh 20%);
}

header > div:nth-of-type(2) p {
	width: 100%;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
	text-align: left;
}


/* NAVIGATION*/
nav {
	width: 100%;
	position: fixed;
	display: flex;
	background-color: #000;
	height: 10vh;
	padding: 0;
	z-index: 99;
}

/* Menu container */
ul {
	display: flex;
	align-items: center;
	width: 100%;
	z-index: 99;
}

ul li {
	list-style: none;
	display: inline-block;
	z-index: 99;
}

/* Links */
ul li a {
	text-decoration: none;
	color: #fff;
	margin-right: 2em;
}

ul li a:hover {
	transition: 2s;
	border-bottom: 2px solid #fff;
}

/* Logo */
nav ul li:nth-child(1) {
	width: 18%;
}

nav li:nth-child(1) img {
	margin-left: 15%;
	width: 20%;
}

/* Right menu group */
nav ul li:nth-child(2) {
	text-align: right;
	width: 70%;
	display: flex;
	flex-direction: row;
}


/* MAIN LAYOUT*/
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

/* Sections */
main section {
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

/* Images inside main */
main img {
	width: 50%;
	margin: 1rem auto;
}

/* Articles */
main article {
	position: relative;
	z-index: 1;

	background-color: #080808;
	color: #fff;

	margin: 0;
	padding-bottom: 2rem;
	text-align: center;

	display: flex;
	flex-direction: column;
}

/* Generic div blocks */
main div {
	background-color: #080808;
	margin: 0;
}

article div:last-child {
	padding-bottom: 2rem;
}


/* TYPOGRAPHY*/
h2 {
	font-size: 2.25rem;
	font-family: "Orbitron", sans-serif;
	margin: 5rem 0 1rem 0;

	position: relative;
	z-index: 0;

	filter: drop-shadow(0 0 12px #00eaff);

	animation: textUp both;
	animation-timeline: view();
	animation-range: entry 20% cover 100vh;
}

p {
	line-break: auto;
	hyphens: auto;
	text-align: center;
	padding-top: 1rem;
	font-size: 1.2rem;

	width: 90%;
}

/* Emphasis glow text */
em,
em:nth-of-type(odd) {
	font-family: "Orbitron", sans-serif;
	font-weight: 700;

	animation: textUp both;
	animation-timeline: view();
	animation-range: entry 10% cover 50vh;
}

em {
	filter: drop-shadow(0 0 12px #F52875);
}

em:nth-of-type(odd) {
	filter: drop-shadow(0 0 12px #5377EE);
}

section p em::selection {
	color: #00eaff;
}


/* VIDEO / IFRAME*/
iframe {
	width: 100%;
	height: 20rem;
}


/* FEATURE SECTION (music bg)*/
main > div:last-child {
	background-image: url("../images/music.webp");
	min-height: 80vh;
	width: 100%;
	background-attachment: fixed;
	background-blend-mode: overlay;
	opacity: 0.9;

	display: flex;
	flex-direction: column;

	text-align: center;
	color: #fff;
}

main > div:last-child > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 90%;
	margin: 0 auto;
	background: none;
}

main > div:last-child > div img {
	width: 40%;
	margin-left: auto;
	margin-top: 1rem;

	animation: videoUp both;
	animation-timeline: view(50vh 20%);
}

main > div:last-child > div p {
	width: 50%;
	text-align: left;
	position: relative;

	animation: videoUp both;
	animation-timeline: view(50vh 20%);
}


/* GRADIENT BORDERS*/
main > div:last-child > div > img,
main article {
	border-left: 4px solid;
	border-right: 4px solid;

	border-image: linear-gradient(
		135deg,
		#ff0080,
		#ff8c00,
		#ffe600,
		#00eaff,
		#8a2be2
	) 1;
}


/* FOOTER */
footer {
	background-color: #000;
	display: flex;
	min-height: 20vh;
	align-items: center;
	justify-content: center;
    padding-bottom: 0;
    margin: 0;
}

footer img {
	width: 20%;
    margin: 0;
    display: block;
}


small {
	color: #fff;
    margin: 0;
    display: flex;
}



/*  ANIMATIONS */

/* Fade/slide up */
@keyframes textUp {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Video reveal */
@keyframes videoUp {
	from {
		filter: saturate(0) contrast(4) brightness(.1) blur(1px);
		opacity: 0;
		scale: .95;
		translate: 0 1rem;
	}
	to {
		filter: none;
		opacity: 1;
		scale: 1;
		translate: 0 0;
	}
}

/* Neon glow pulse */
@keyframes neonPulse {
	0% {
		filter: drop-shadow(0 0 12px #00eaff);
	}
	100% {
		filter: drop-shadow(0 0 28px #00eaff);
	}
}
